<div id="content">
        <div class="container" id="about">
          <div class="row">
            <!--main content-->
            <div class="col-md-9 col-md-push-3">
              <div class="page-header">
                <h1>
                    About Us
                  </h1>
              </div>
              <div class="block block-border-bottom-grey block-pd-sm">
                <h3 class="block-title">
                    Introduction
                  </h3>
                <img src="img/misc/about-us.png" alt="About us" class="img-responsive img-thumbnail pull-right m-l m-b">
                <p>Aone has invotation and creation Technology for creating the Ceramic Wall Tile.Aone Want To Create Its Own Tag In The Industry Of Ceramic Wall Tile For Its Quality With Pocket Price To Our Customers.Aone Is The Company,Who Bring The Idea To Furnish World Class Ceramic Tiles.
    
                </p>
                <h3 class="block-title">
                    What we do
                  </h3>
                <p>We Always Follow The Industry Standard By Unique Idea,Innovation And Produce Advanced Quality Or Ceramic Wall Tiles.Our Aim Is To Produce Better Quality And With Inventive Design And Create Harmony To Our Valuable Customers.We Are Just Adding Sugar in Sweet And Salt In Rest Of The Recipes.</p>
              </div>
              <div class="block-highlight block-pd-h block-pd-sm">
                <h3 class="block-title">
                    Our Aim
                  </h3>
                <p class="text-fancy">Aone The Company The Organization Is The Industry Of Ceramic Wall Tiles With Great Cause.The Company Is Always looking Forward To The Their Valuable Customer Satisfaction Also Try To Meet Their Expectation.We Are Very Keen Where The Matter Of Quality And Expertise.</p>
              </div>
    
            </div>
    
            <!-- sidebar -->
            <div class="col-md-3 col-md-pull-9 sidebar visible-md-block visible-lg-block">
              <ul class="nav nav-pills nav-stacked">
                <li class="active">
                  <a href="about.html" class="first">
                      About Us
                    </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>